body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #111b2ba1;
  opacity: 1; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

button:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}

// ::-webkit-calendar-picker-indicator {
//   filter: invert(1);
// }

.nav-active{
  .list-item{
    background:white;
    color:#000;
    margin-left: 0.5rem;
    border-radius: 10px;
  }
  .list-item:hover{
    background:white;
  }
}
