.filter-btn {
  height: 2.5rem;
  z-index: 10;
}
.filter-btn__select {
  background-color: #f3f6f9;
  min-width: 15rem;
  height: 50vh;
  overflow: auto;
  border-radius: 5px;
}
.filter-btn__options {
  padding: 0;
  list-style-type: none;
}
.filter-btn__option {
  border: none;
  background-color: inherit;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}
.filter-btn__option:hover {
  background-color: #085c49;
  color: white;
}
.filter-btn input {
  padding: 0rem 1rem;
  height: 2.5rem;
  width: 15rem;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.09);
}
.filter-btn input:hover,
.filter-btn input:focus,
.filter-btn input:active {
  outline: 0;
}
.ckDfJz {
  display: none;
}
