.filter-btn {
  height: 2.5rem;
  z-index: 10;
}
/* .porulalar-filter-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.seyalalar-filter-btn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
} */


.filter-btn__select {
  background-color: #f3f6f9;
  width: 21rem;
  height: 50vh;
  overflow: auto;
  border-radius: 5px;
}
farmer-group-filter-btn__select{
  min-width: 300px !important;
}
.filter-btn__options {
  padding: 0;
  list-style-type: none;
}
.filter-btn__option {
  border: none;
  background-color: inherit;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}
.filter-btn__option:hover {
  background-color: #085c49;
  color: white;
}
.filter-btn input {
  padding: 0rem 1rem;
  height: 2.5rem;
  width: 15rem;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.09);
}
.farmer-group-filter-btn input{
  padding: 0rem 1rem;
  height: 2.5rem;
  width: 21rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 900px){
  .farmer-group-filter-btn input{
    
  }
}
.farmer-group-selector-container{
  width: 78.5%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
}
@media screen and (max-width: 900px){
  .farmer-group-selector-container{
    flex-direction: column;
    align-items: center;
  }
}
.filter-btn input:hover,
.filter-btn input:focus,
.filter-btn input:active {
  outline: 0;
}
.filterform-btn {
  z-index: 10;
}
.filterform-btn__select {
  background-color: #f3f6f9;
  min-width: 15rem;
  height: 40vh;
  overflow: auto;
  border-radius: 5px;
  position: absolute;
}
.filterform-btn__options {
  padding: 0;
  list-style-type: none;
}
.filterform-btn__option {
  border: none;
  background-color: inherit;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}
.filterform-btn__option:hover {
  background-color: #085c49;
  color: white;
}
.filterform-btn input {
  padding: 0rem 1rem;
  height: 3.2rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #3333331f;
      background: #131e2f0d;

}
.filterform-btn input:hover,
.filterform-btn input:focus,
.filterform-btn input:active {
  outline: 0;
}
.farmer_input {
      height: 50px;
      padding: 0 12px;
      width: 100%;
      background: #131e2f0d;
      border: 1px solid #3333331f;
      color: #111b2b;
      border-radius: 4px;
}
.farmer_input__select {
  background-color: #f3f6f9;
  height: 35vh;
  overflow: auto;
}
.farmer_input__options {
  padding: 0;
  list-style-type: none;
}
.farmer_input__option {
  border: none;
  background-color: inherit;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}
.farmer_input__option:hover {
  background-color: #085c49;
  color: white;
}
.farmer_input input {
  padding: 0rem 1rem;
  height: 3.5rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.09);
}
.farmer_input input:hover,
.farmer_input input:focus,
.farmer_input input:active {
  outline: 0;
}
.ckDfJz {
  display: none;
}
.huvypy {
  padding: 1rem 0 0 0;
}
.multiSelectContainer {
  position: relative;
  text-align: left;
  width: 100%;
  background: #131e2f0d;
  border: 1px solid #3333331f;
  color: #111b2b;
  border-radius: 4px;
}

.chip {
  padding: 4px 10px;
  background: #1d5c49;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 11px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
}

.highlightOption {
  background: #1d5c49;
  color: #fff;
}
.multiSelectContainer li:hover{
background: #1d5c49;
color: #fff;
}